<configuration>
    <system.webServer>
        <staticContent>
            <remove fileExtension=".less" />
            <mimeMap fileExtension=".less" mimeType="text/css" />
            <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
     </staticContent>
    </system.webServer>
</configuration> 